{% extends 'char/base.html' %}
{% load static %}

{% block content %}



    <div class="position-relative overflow-hidden  text-center bg-light">
      <div class="col-md-6 p-lg-3 mx-auto my-3">
        <h1 class="display-4 font-weight-normal"><strong>To create an investigator log in or create  an account</strong></h1>
          <p class="lead font-weight-normal"><strong>A resource for create an investigator, 7th edition quickstart rules, and weapon & items resources</strong></p>
      <div class="card">
  <img  src="{% static 'char/cthulhu.jpg' %}" class="img-fluid" alt="cthulhu">
    </div>
      </div>
    </div>



{% endblock %}
